{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
<div class="bg-gray-100 font-sans leading-normal tracking-normal">
	<!--Container-->
	<div class="container w-full md:max-w-3xl mx-auto pt-20">
		<div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
			<!--Title-->
			<div class="font-sans">
				<h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Elixir Examples</h1>
			</div>
			<!--Post Content-->
			<!--Lead Para-->
      {% set navPages = collections.all | eleventyNavigation %}
      <ul>
      {%- for entry in navPages %}
        <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
          <a href="{{ entry.url | url }}" class="text-green-500 no-underline hover:underline text-xl py-3">{{ entry.title }}</a>
        </li>
      {%- endfor %}
      </ul>

		</div>

		<!--Divider-->
		<hr class="border-b-2 border-gray-400 mb-8 mx-4">


	</div>
	<!--/container-->
</div>
{% endblock %}
